body {
    background-color: #FBFFAE;
}

.navbar {
    background-color: #6f5847;
    border-radius: 4px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.navbar h1{
    padding-left: 15px;
    margin: 0px;
    color: rgb(255, 238, 0);
}

.generic-button {
    border: none;
    font-weight: 600;
}

#how-is-bean-button {
    background-color: rgb(73, 36, 255);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#how-is-bean-button:hover {
    color: rgb(73, 36, 255);
    background-color: white;
    transition: 0.2s;
}

#how-is-bean-button:disabled, #jimmy-button:disabled, #prev:disabled {
    background-color: rgb(195, 194, 206);
    color: rgb(104, 104, 104);
}

#jimmy-button {
    background-color: rgb(255, 0, 0);
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

#jimmy-button:hover {
    color: rgb(255, 0, 0);
    background-color: white;
    transition: 0.2s;
}

.profile-contents {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.details {
    padding-left: 10px;
    padding-top: 3px;
    font-weight: 400;
    font-size: 20px;
    align-content: center;
}

.buttons-div {
    align-content : center;
}

.merry-go-round {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    align-items: center;
    justify-items: center;
}

.arrow-button {
    height: 50px;
    width: 50px;
    background-color: #2cd591;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size:35px;
}

.arrow-button:hover {
    background-color:#c0eddb;
    transition: 0.2s;
}

.arrow-button:active {
    background-color:#2cd591;
    transition: 0.2s;
}

.images-div {
    display: grid;
}

#image-in-holder, .prev-image-holder, .next-image-holder {
    border: 1px solid;
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.prev-image-holder, .next-image-holder {
    height: 250px;
    width: 250px;
    position: relative;
    grid-row-start: 2;
    grid-row-end: 3;
}

.prev-image-holder {
    grid-column-start: 1;
    grid-column-end: 4;
}

.next-image-holder {
    grid-column-start: 6;
    grid-column-end: 9;
}

.image-holder {
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
    position: relative;
}

@keyframes current-backward-animation {
    from { width: 400px; height: 400px; left: 0px; top:0px; }
    to { width: 250px; height: 250px; left: -85px; top: 100px; }
}
.current-image-holder-backward-animation {
    position: relative;
    animation-name: current-backward-animation;
    animation-duration: 1s;
}

@keyframes next-backward-animation {
    from { width: 250px; height: 250px; left: 0px; top:0px; }
    to { width: 400px; height: 400px; left: -235px; top: -100px; z-index: 2; }
}
.next-image-holder-backward-animation {
    position: relative;
    animation-name: next-backward-animation;
    animation-duration: 1s;
}

@keyframes current-forward-animation {
    from { width: 400px; height: 400px; left: 0px; top:0px; }
    to { width: 250px; height: 250px; left: 230px; top: 100px; }
}
.current-image-holder-forward-animation {
    position: relative;
    animation-name: current-forward-animation;
    animation-duration: 1s;
}

@keyframes prev-forward-animation {
    from { width: 250px; height: 250px; left: 0px; top:0px; }
    to { width: 400px; height: 400px; left: 85px; top: -100px; z-index: 2; }
}
.prev-image-holder-forward-animation {
    position: relative;
    animation-name: prev-forward-animation;
    animation-duration: 1s;
}

#image-in-holder, #prev-prev-image, #prev-image, #next-image, #next-next-image {
    border-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#prev-prev-image, #next-next-image {
    z-index: -2;
}

.caption-holder {
    border: 1px solid;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
}

#caption-text {
    align-content: center;
    padding: 10px;
}